<% @events.each do |event| %>
  <section class="event">
    <div class="summary">
      <h2><%= link_to event.name, event %></h2> 
      <h3><%= format_datetime(event) %> in <%= event.location%></h3>
      <span class="price"><%= format_price(event) %></span>
      <p>
        <%= truncate(event.description, length: 40, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>
