<section class="event-details">
  <div class="details">
    <h1><%= @event.name %></h1>
    <h2><%= format_price(@event) %></h2>
    <h3>
      <%= format_datetime(@event) %> in <%= @event.location%>
    </h3>
    <p>
      <%= @event.description %>
    </p>
  </div>
</section>